{%extends "AdminInterface.html" %}

{% block main %}
<div class="dash-top">
    <h1>Dashboard</h1>
    <form class="Search">
        <input class="searchfield" type="search" placeholder="Search" aria-label="Search">
        <button class="searchbtn" type="submit">Search</button>
    </form>
    <div class="content">
        <div class ="list-items">
           <div><h2>Request Summary</h2></div>
           <section class="Pending"><h3>Pending Requests</h3>
            <p> Total no. of 89</p>
        </section>
        </div>
    </div>
    
</div>


{% endblock %}