<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/login.css"/>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
   
      </head>
      <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <img src="../static/jidlogo.png">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link active" href="{{url_for('govAccess')}}">Gonvernment Access</a>    
              <a class="nav-item nav-link active" href="{{url_for('orgAccess')}}">Organisation Access</a>
              <a class="nav-item nav-link active" href="{{url_for('citizenAccess')}}">Citizen Access</a>
              
            </div>
          </div>
        </nav>
        <!--<nav> 
            <a href="{{url_for('govAccess')}}">Gonvernment Access</a> <!--Government Access-->
         <!--    <a href="{{url_for('orgAccess')}}">Organisation Access</a> <!--Organisation Access-->
           <!--  <a href="{{url_for('citizenAccess')}}">Citizen Access</a> <!--Citizen Access-->
        <!-- </nav>-->
        <main>
        {% block main %}{% endblock %}
        </main>
     </body>
    </html>   
  